
API_URL=https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&category=layer-1&price_change_percentage=1h
API_KEY=your_coingecko_demo_api_key
WEBHOOK_URL=http://localhost:5678/webhook-test/your-webhook-id
OPENROUTER_API_KEY=your_openrouter_api_key
DATABASE_URL=postgresql://user:password@localhost:5432/mydb
REDIS_HOST=localhost
REDIS_PORT=6379